{% extends "header.html" %}         

{% block content %}
	<body>
     <h3>Καταχώρηση Συμβάντος-Προβλήματος</h3>
  </body>
	<form method="POST">
      	{% csrf_token %}
      	<table class="table table-hover">
            {{form.as_table}}
        </table>
        {{ form.media }}

      	
      	<button class="btn" style="background-color:orange; color:blue" type="submit"><strong>Καταχώρηση</strong></button>
  </form>

  	Εάν έχετε ήδη λογαριασμό, επιλέξτε <a href="/login"><strong>Είσοδος</strong></a> για να συνδεθείτε.
{% endblock %}

