{% extends "header.html" %}         

{% block content %}
	<body>
     <h4>Είσοδος σε Υπηρεσία</h4>
  </body>
	<form method="POST">
      	{% csrf_token %}
      	<table class="table table-hover" style="width: 20%">
            {{form.as_table}}
        </table>

      	<button class="btn" style="background-color:orange; color:blue" type="submit"><strong>Είσοδος</strong></button>
  </form>

  	Η Είσοδος στην Υπηρεσία είναι μόνο για πιστοποιημένους χρήστες!!!
  	<br>
  	Εάν δεν έχετε ήδη λογαριασμό, επικοινωνήστε με τον Διαχειριστή του Συστήματος για να αποκτήσετε.
    <br>
    <br>
    Εάν είστε απλός χρήστης και έχετε ήδη λογαριασμό, επιλέξτε <a href="/login"><strong>Είσοδος Χρήστη</strong></a>,<br> διαφορετικά επιλέξτε <a href="/register"><strong>Εγγραφή Χρήστη</strong></a> για να αποκτήσετε.
{% endblock %}

